/* ===========================
    Fonts & Type
=========================== */
body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $c-black;
    font-size: 20px;
    font-weight: 300;
}
