/* ===========================
    Colours
=========================== */
$c-black: #181818;
$c-light-grey: #eaeaea;


/* ===========================
    Widths & Heights
=========================== */
$h-navbar: 90px;
$h-navbar-mobile: 60px;


/* ===========================
    z-index
=========================== */
